
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/*Start continer Rules*/
.continer{
    width:100%;
    height:100vh;
    display: flex;
}
/*Start Sidbar Rules*/
.continer  .sidbar{
    display: flex;
    flex-direction: column;
    background-color: #0090FF;
    flex-basis: 15%;
    height:150vh;
}
.continer  .sidbar .logo{
    display: flex;
    height: 10%;
} 
.continer  .sidbar .logo img{
    width: 50px;
}
.continer  .sidbar .logo h1{
    background-color:#fff;
    background-image: linear-gradient(to left, #61d4f7 0%,#fff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    margin-top: 18px;
}
.continer  .sidbar .liste-menu{
    margin-left: 30px;
    margin-top: 50px;
    
}
.continer  .sidbar .liste-menu ul{
    display: flex;
    flex-direction: column;
    margin-top:20px
    
}
.continer  .sidbar .liste-menu ul li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 18px;

}
.continer  .sidbar .liste-menu ul li a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.596);
    
}
.continer  .sidbar .liste-menu ul li  a.active{
    color:#fff;
    margin-right: 10px;
}
/*
.continer  .sidbar .liste-menu ul li a.Active {
}
*/
.continer  .sidbar .liste-menu ul li:hover a{
    color:#fff;
}

/*End sidbar Rules*/
/*Start sidbar Rules*/
.continer .main-content{
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
.continer .main-content .header{
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 10%;
    width: 100%;
}
.continer .main-content .header .search-bar{
    display: flex;
}
.continer .main-content .header .search-bar img{
    width: 25px;
    height:25px;
    margin-left: 30px;
    margin-top: 15px;
    position: relative;
    
}
.continer .main-content .header .search-bar input{
    width: 400px;
    height:30px;
    outline: none;
    margin-top: 16px;
    border:none;
    color:rgba(204, 204, 204, 0.685);
    margin-left: 10px;
    
}
.continer .main-content .header .user-info{
    display: flex;
    position: absolute;
    right:20px;
    top:10px;
}
.continer .main-content .header .user-info h1{
    font-size: 12px;
    margin-top: 15px;
    margin-right: 10px;
}
.continer .main-content .header .user-info img{
    width: 40px;
    height:40px;
}
.search{
    width: 100%;
    height:90%;
    display: flex;
}
.search .left-search{
  flex-basis: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  padding:10px;
  margin-left: 30px;
}
.search .left-search h2{
  
    margin-bottom: 10px;
    font-family: poppins;
    background-color:#0090FF;
    background-image: linear-gradient(to top, #61d4f7 0%,#6b51fe);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}
.search .left-search form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;

    
}
.search .left-search form select{
    width: 80%;
    height:40px;
    margin-bottom: 10px;
    border:1px solid #6b51fe;
    background-color: rgba(255,255,255,0.12);
}
.search .left-search form  button{
    font-size: 1rem;
    background-image: linear-gradient(to left, #61d4f7 0%,#6b51fe);
    border:none;
    color:#fff;
    cursor: pointer;
    margin-top: 1.2rem;
    position: relative;
    transition: all 0.35s ;
    outline:none;
    border-radius: 4px;
    
    width:80%;
    height:40px;
}
.search .left-search form  button::after{
    content: '';
    border-radius: 4px;
    background-image: linear-gradient(to left, #61d4f7 0%,#6b51fe);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    transition: all 0.35s
}
button a{
    color:#fff;
    position: relative;
    z-index: 2;
    text-decoration: none;

}
button:hover :after{
    width:100%;
    color:#fff;
}
.result{
   width: 100%;
   height:100%;
   display: flex;
 
   margin-top: 20px;
}
.result .info{
    width: 65%;
    height:300px;
    background-color: #7ebdec;
    border:.5px solid #7ebdec;
    border-radius: 10px;
    
}
.result .info label{
    margin-left: 10px;
    color:#fff;
}
.result .info input{
    width: 60%;
    height:40px;
    margin-bottom: 10px;
    background-color:transparent;
    border:none;
    margin-left: 20px;
    outline:none;
}
.result .info button{
    width: 100px;
    height:30px;
    
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-left: 10px;
}
.result .info button a{
    text-decoration: none;
    color:#6b51fe;
}
.search .right-search {
    flex-basis:50%;
    height:100%;
   background-image: url("../Images/adventure.svg");
   background-size: cover;
}
.col{
    width: 100%;
    height:100%;
    display: flex;
  
    margin-top: 20px;
}
.card text-white bg-dark  mb-3{
    width: 65%;
    height:300px;
    background-color: #7ebdec;
    border:.5px solid #7ebdec;
    border-radius: 10px;

}
